<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Olá, nós somos o coLAB!</h2>
      <p class="subtitle subtitle--light">O DDoS Lab é um projeto de pesquisa e inovação desenvolvido pelo Laboratório de Pesquisa em Comunicação, Culturas Políticas e Economia da Colaboração (coLAB), da Universidade Federal Fluminense (UFF).
      </p>

      <p>O coLAB é um grupo de pesquisa que desenvolve investigações orientadas a compreender as interfaces entre tecnologias da comunicação e culturas políticas, com especial ênfase nos fenômenos relacionados aos repertórios de ativismo digital, às estratégias retóricas e discursivas de atores do campo formal da política, às dinâmicas de sociabilidade e letramento político, à economia política da informação e à circulação de desinformação e discurso de ódio.</p>
      <p>Para mais informações, acesse <a href="http://colab.uff.br">http://colab.uff.br</a></p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Fale Conosco</a>
    </div>
  </div>
</section>
